<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta content="IE=edge" http-equiv="X-UA-Compatible">
<meta content="telephone=no" name="format-detection">
<meta http-equiv="Expires" content="-1">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="No-Cache">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta id="_csrf" name="_csrf" th:content="${_csrf.token}">
<meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}">
<title></title>

<link rel="stylesheet" href="user/css/bootstrap.min.css" >  
<link rel="stylesheet" href="user/css/jquery.mCustomScrollbar.min.css" >  
<link rel="stylesheet" href="user/css/common.css">

<script src="user/js/jquery.min.js"></script>
<script src="user/js/bootstrap.min.js"></script> 
<script src="user/js/jquery.mCustomScrollbar.concat.min.js"></script> 
<script src="user/js/common.js"></script>
 </head>
 <body>
  <div class="content wrap">
	<span>에러가 발생했습니다.</span><br><span>시스템 관리자에게 연락바랍니다.</span>
  </div>
 </body>
</html>
