<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta content="IE=edge" http-equiv="X-UA-Compatible">
<meta content="telephone=no" name="format-detection">
<meta http-equiv="Expires" content="-1">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="No-Cache">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta id="_csrf" name="_csrf" th:content="${_csrf.token}">
<meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}">
<title></title>

<link rel="stylesheet" href="user/css/bootstrap.min.css" >  
<link rel="stylesheet" href="user/css/jquery.mCustomScrollbar.min.css" >  
<link rel="stylesheet" href="user/css/common.css">

<script src="user/js/jquery.min.js"></script>
<script src="user/js/bootstrap.min.js"></script> 
<script src="user/js/jquery.mCustomScrollbar.concat.min.js"></script> 
<script src="user/js/common.js"></script>
</head>
   <script type="text/javascript">
   
   window.onload = function() {
		  /*<![CDATA[*/
	      var _bNo = "[[${bNo}]]";
	      /*]]>*/  

	      if(_bNo != 'undefined' && _bNo != ''){
	    	  setView(_bNo);
	      }
	  };
	  
	  
  document.addEventListener('keydown', function(event) {
	  if (event.keyCode === 13) {
	    event.preventDefault();
	  };
  }, true);
	  
   function home(key){
       
       if(key == "EN"){
    	   location.href = "/EN";
       }else{
    	   location.href = "/RnDInforHome";
       }

   }
   
   function go_list(key){
	   
	   var frm = document.viewform;
	   
	   frm.category.value = key;
	   frm.action = "/RnDInforView_en";
	   frm.submit();
   }

   function go_page(key,no){
		  
	   var frm = document.viewform;
	   frm.category.value = key;
	   frm.bNo.value = no;
	   
	   frm.action = "/RnDInforView_en";   
	   frm.submit();
   }

   function cgo_page(key){
		  
	   var frm = document.viewform;
	   frm.category.value = "C0001";
	   
	   if(key=="EN"){
		   frm.action = "/RnDInforView_en";
	   }else{
		   frm.action = "/RnDInforView";   
	   }
	   
	   frm.submit();
  }
   
   function get_SiteMap(ct){
	   
	   $.ajax({
		   type : 'POST',  
		   data:"category="+ ct,
		   dataType : 'json',
		   url : '/ajax_RnDInforSiteMap',  
		   beforeSend : function(xhr){
				xhr.setRequestHeader(header, token);
		   },
		   success : function(returnData, textStatus, xhr) {    		    

		    if(returnData != null){
		   
	    	$("#mssg").text("<ul>"+returnData.txt+"</ul>");
		    }
		   },
		   error : function(xhr, status, e) { 	    
			   $("#idError").text(e);
		   }
	});  				
   }
   
   function go_DetailView(obj){
	   
       var frm = document.viewform;
       
       var token = $("meta[name='_csrf']").attr("content");
       var header = $("meta[name='_csrf_header']").attr("content");

	   $.ajax({
		   type : 'POST',  
		   data:"category="+frm.category.value+"&bNo="+obj.value,
		   dataType : 'json',
		   url : '/RnDInforViewDetail',  
		   beforeSend : function(xhr){
				xhr.setRequestHeader(header, token);
		   },
		   success : function(returnData, textStatus, xhr) {    		    
		    if(returnData != null){

		    	$("#mssg").empty();
		        $("#mssg").append(returnData.html);
		       
		     //  const element = document.getElementById('mssg');
		     //  element.innerHTML += returnData.html;
		    }
		   },
		   error : function(xhr, status, e) { 	    
			   $("#idError").text(e);
		   }
	});  				
   }
   
   function setView(_bNo){
	   
       var frm = document.viewform;
       
       var token = $("meta[name='_csrf']").attr("content");
       var header = $("meta[name='_csrf_header']").attr("content");

	   $.ajax({
		   type : 'POST',  
		   data:"category="+frm.category.value+"&bNo="+_bNo,
		   dataType : 'json',
		   url : '/RnDInforViewDetail',  
		   beforeSend : function(xhr){
				xhr.setRequestHeader(header, token);
		   },
		   success : function(returnData, textStatus, xhr) {    		    
		    if(returnData != null){

		    	$("#mssg").empty();
		        $("#mssg").append(returnData.html);
		       
		     //  const element = document.getElementById('mssg');
		     //  element.innerHTML += returnData.html;
		    }
		   },
		   error : function(xhr, status, e) { 	    
			   $("#idError").text(e);
		   }
	});  				
   }
   
   function go_search(){
	   
       var frm = document.viewform;
       
	   frm.action = "/RnDInforSearch";
	   frm.submit();
	 
   }
   
   function go_siteMap(){
	   
       var frm = document.viewform;
	   
	   //frm.category.value = key;
	   frm.action = "/RnDInforSiteMap";
	   frm.submit();
	 
   }
   
  function download(){
	   
       var frm = document.viewform;
       
	   frm.action = "/fileDown/download";
	   frm.submit();
	 
   }
    </script> 
<!-- body-화면ID -->
<body>  
<form name="viewform" id="viewform" method="post">
<!-- header -->
<header id="hd">
    <div class="gnb-area">
        <h1><a th:onclick="|javascript:home('EN')|" style="cursor: pointer"><img src="user/images/top-logo.png" alt="R&D 임직원 정보보호 매뉴얼"></a></h1>
        
        <div class="d-flex">
            <div class="form-srch">
                <input type="text" class="" placeholder="Please enter a keyword." name="search_key">
                <button type="button" th:onclick="go_search();"><i class="icon-search">검색</i></button>
            </div>
            <div> 
                <div class="language dropdown">
                    <button class="dropdown-toggle" type="button" id="language-dropdown" data-toggle="dropdown">
                        Kr
                    </button>
                    <div class="dropdown-menu" aria-labelledby="language-dropdown">
                        <a class="dropdown-item" th:onclick="|javascript:cgo_page('KR')|" style="cursor: pointer">Kr</a>
                        <a class="dropdown-item" th:onclick="|javascript:cgo_page('EN')|" style="cursor: pointer">En</a> 
                    </div>
                </div> 
            </div>
            <div class="down">
                <a th:onclick="download()" style="cursor: pointer"><i class="icon-down">다운로드</i></a>
            </div>
            <div>
                <a href="#gnb-full" class="btn-menu" data-toggle="menu"><i></i><span class="sr-only">메뉴 열기</span></a> 
            </div>
        </div>
    </div> 
    <a href="#contents" class="skip sr-only">전체메뉴 건너뛰기</a>
    <div id="gnb-full" class="active1">
        <a href="#gnb-full" class="btn-menu-close" data-toggle="menu"><i class="xi-close"></i><span class="sr-only">메뉴 닫기</span></a> 
        <div class="full-nav">
            <div class="dep1" style="width: 7em;">
                <ul>
                    <li data-active="1" class="active"><p style="width: 245px;">Access<span> (persons/vehicles/equipment)</span> </p></li>
                    <li data-active="2"><p style="width: 245px;">Technology<span>(PC/Network)</span> </p></li>
                    <li data-active="3"><p style="width: 245px;">Management<span>(education/Promotion)</span></p></li> 
                </ul>
            </div>
            <div class="dep2">
                <div class="dep2-list">
                   <ul id="active1">
                    <th:block th:each="psubj:${spList}">
                        <li><a th:onclick="|javascript:go_page('C0001','${psubj.NO}')|" style="cursor: pointer">[[${psubj.TITLE}]]</a></li>
                    </th:block>
                    </ul>
                    
                    <ul id="active2">
                     <th:block th:each="tsubj:${stList}">
                        <li><a th:onclick="|javascript:go_page('C0002','${tsubj.NO}')|" style="cursor: pointer">[[${tsubj.TITLE}]]</a></li>
                    </th:block>
                    </ul>
                    
                    <ul id="active3">
                     <th:block th:each="msubj:${smList}">
                        <li><a th:onclick="|javascript:go_page('C0003','${msubj.NO}')|" style="cursor: pointer">[[${msubj.TITLE}]]</a></li>
                    </th:block>
                    </ul>
                </div> 
            </div>
        </div>
    </div>
</header>

<!-- //header -->

<!-- container -->
<div id="ct" class="manage"><a name="contents"></a>
<!-- 페이지 시작 --> 
    <div class="top-visual v1">
        <div class="wrap">
            <h2>출입 (인원/차량/장비)</h2> 
        </div>
    </div>
    <div class="location">
        <div class="wrap d-flex">
            <div class="home"><a th:onclick="|javascript:home('EN')|" style="cursor: pointer"><span class="sr-only">home</span></a></div>
            <div>
                <div class="dropdown">
                    <button class="dropdown-toggle" type="button" id="language-dropdown" data-toggle="dropdown">
                        출입 (인원/차량/장비)
                    </button>
                    <div class="dropdown-menu" aria-labelledby="language-dropdown">
                        <a class="dropdown-item" href="javascript:go_list('C0001');">출입 (인원/차량/장비)</a> 
                        <a class="dropdown-item" href="javascript:go_list('C0002');">기술 (PC/네트워크)</a> 
                        <a class="dropdown-item" href="javascript:go_list('C0003');">관리 (교육/홍보)</a>
                    </div>
                </div> 
            </div>
            <div>
                <select name="bNo" onchange="javascript:go_DetailView(this);">
					<th:block th:each="subj:${pList}">
					    <option th:value=${subj.NO}>[[${subj.TITLE}]]</option>
					</th:block>
					</select>
             
            <!--    <div class="dropdown">
                    <button class="dropdown-toggle" type="button" id="language-dropdown" data-toggle="dropdown">
                        파견/전출시 업무자료 이관 절차
                    </button>
                    <div class="dropdown-menu" aria-labelledby="language-dropdown">
                    <th:block th:each="subj:${pList}">
                        <a class="dropdown-item" href=""></a>
                    </th:block>
                    </div>
                </div> -->
            </div>
        </div>
    </div>

    <div class="content wrap">
        <div style="border:1px solid red; " id="mssg"> 
        관리자등록 컨텐츠영역
        <!--<div class="title-box bg-dark">
            <div class="icon"><img src="images/icon-title1-1.png" alt=""></div>
            <div class="title">
                <h3>Information on Using the Namyang Access Security System</h3>
            </div>
        </div>
        <div class="content-box">
            <p>You can apply for the reservation for a visit, bringing in and out of materials, management of test vehicles operated temporarily,
                <br>photographing and access pass in the Namyang Access Security System.</p>
            <div class="mt-3">
                <img src="images/contents/namyang-1.png" alt="">
            </div>
            
            <h4 class="snd">FAQ</h4>
            <ul class="qa-type mt-3">
                <li>
                    <div class="qa-Q">
                        <span>Q1.</span> How can I request for the designation of an alternative approver for bringing in and out of materials?
                    </div>
                    <div class="qa-A">
                        <ol>
                            <li>
                                <p class="strong">1. Click Approval Box from Namyang Access Security System > Top Menu<br>(Only available for team managers or higher positions)</p>
                                <p class="mt-3">
                                    <img src="images/contents/namyang-q1-1.png" alt="">
                                </p>
                            </li>
                            <li>
                                <p class="strong">2. Click ‘Approval Delegation' on the left menu</p>
                                <p class="mt-3">
                                    <img src="images/contents/namyang-q1-2.png" alt="">
                                </p>
                            </li>
                            <li>
                                <p class="strong">3. Click the existing [Inquiry] button, select charging personnel(double-click) and save</p>
                                <p class="mt-3">
                                    <img src="images/contents/namyang-q1-3.png" alt="">
                                </p>
                            </li>
                        </ol>
                    </div>
                </li>
                <li>
                    <div class="qa-Q">
                        <span>Q2.</span> Where can I apply for the reservation for a visit?
                    </div>
                    <div class="qa-A">
                        <p>A visit to the Namyang Research Center is made through the application of reservation by the visitor and the approval by the team that the visitor intends to visit (the person in charge of the field team).</p>
                        <ol class="mt-3">
                            <li>
                                <p class="strong">1. Application for a visit (visitor):</p>
                                <p>Visitors can access the Access Reservation System (visit.hmc.co.kr) in advance, enter visitor information,<br>and apply for a visit.</p>
                                <p class="mt-3">
                                    <img src="images/contents/namyang-q2-1.png" alt="">
                                </p>
                            </li>
                            <li>
                                <p class="strong">2. Approval of a visit (person whom the visitor intends to visit, the person in charge of the field team)</p>
                                <p>① After accessing the Namyang Access Security System Visitor Reservation site, click ‘Reserve a visit’ in the top right corner.</p>
                                <p class="mt-3">
                                    <img src="images/contents/namyang-q2-2.png" alt="">
                                </p>
                                 
                                <p class="mt-3">② After confirming the date of visit, division of work, and the building to be visited, submit for approval.</p>
                                <p class="mt-3">
                                    <img src="images/contents/namyang-q2-3.png" alt="">
                                </p>
                            </li>
                        </ol>
                    </div>
                </li>
            </ul>-->
        </div> 
    </div>
<!-- //페이지 시작 --> 
</div>
<!-- //container id="ct" -->

<!-- footer -->
<footer id="ft">  
    <div>COPYRIGHT ⓒ HYUNDAI R&D. ALL RIGHTS RESERVED.</div>
    <div><button class="btn" th:onclick="javascript:go_siteMap();" style="cursor: pointer" type="button">Site map</button></div>
</footer>
<!-- //footer -->  
  <input type="hidden" name="category" th:value="${category}" />
  <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
  <input type="hidden" name="l_key" value="E" /> 
  <input type="hidden" name="bNo" value="" />
 </form>
</body>
</html>
